{
    "PGPT_Url": {
        "API_URL": "https://<your-subdomain>.ai-testdrive.com/api/v1"
    },
    "Proxy_Config": {
        "USE_PROXY": "true",
        "HEADER_ENCRYPTED": "false",
        "ACCESS_HEADER": "<your-access-header>"
    },
    "Server_Config": {
        "LANGUAGE": "en",
        "SSL_VALIDATE": "false",
        "PW_ENCRYPTION": "false",
        "PUBLIC_KEY": "~/.ssh/id_rsa_public.pem",
        "PRIVATE_KEY": "~/.ssh/id_rsa"
    },
    "Restrictions": {
        "RESTRICTED_GROUPS": true
    },
    "Logging": {
        "WRITTEN_LOGFILE": true,
        "ANONYMOUS_MODE": false
    },
    "Functions": {
        "ENABLE_LOGIN": true,
        "ENABLE_LOGOUT": true,
        "ENABLE_CHAT": true,
        "ENABLE_CONTINUE_CHAT": true,
        "ENABLE_GET_CHAT_INFO": true,
        "ENABLE_DELETE_CHAT": true,
        "ENABLE_DELETE_ALL_CHATS": true,
        "ENABLE_CREATE_SOURCE": true,
        "ENABLE_GET_SOURCE": true,
        "ENABLE_EDIT_SOURCE": true,
        "ENABLE_LIST_SOURCES": true,
        "ENABLE_DELETE_SOURCE": true,
        "ENABLE_LIST_GROUPS": true,
        "ENABLE_STORE_GROUP": true,
        "ENABLE_DELETE_GROUP": true,
        "ENABLE_STORE_USER": true,
        "ENABLE_EDIT_USER": true,
        "ENABLE_DELETE_USER": true,
        "ENABLE_REACTIVATE_USER": true,
        "ENABLE_LIST_SCENARIOS": true,
        "ENABLE_CREATE_SCENARIO": true,
        "ENABLE_EDIT_SCENARIO": true,
        "ENABLE_DELETE_SCENARIO": true
    }
}